footer {
  background-color: rgb(5, 34, 31);
  font-size: var(--body-font-size-xs);
  color: white;
  padding: 30px;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

.footer-img {
  display: flex;
}

.footer img {
  width: 20%;
  height: 100%;
}
