/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
@import url('../blocks/custom/Banners/hero-banner/hero-banner.css');
@import url('../blocks/custom/Banners/secondary-banner/secondary-banner.css');
@import url('../blocks/custom/Cards/logo-cards/logo-cards.css');
@import url('../blocks/custom/Cards/cards-icon/cards-icon.css');
:root {
  /* colors */
  --background: white;
  --background-brand-midnight: #011b2b;
  --background-brand-sky: #008fdc;
  --background-brand-light-sky: #008fdc;

  /* text colors */
  --text-primary: #414141;
  --text-secondary: #808080;
  --text-disabled: #aaaaaa;
  --text-inverse: #ffffff;
  --text-helper: #555555;
  --text-link: #0f62fe;
  --text-error: #eb002a;

  /* button colors */
  --button-primary-background: #008fdc;
  --button-secondary-background: #011b2b;
  --button-tertiary-background: #ffffff;
  --button-hover-sky: #008fdc;
  --button-hover-midnight:#011b2b;
  --button-hover-white:#ffffff;

  /* border colors */
  --border-subtle-00: #808080;
  --border-subtle-selected: #414141;
  --borader-disabled: #aaaaaa;
  --border-inverse: #ffffff;
  --border-error: #eb002a;



  /* brand colors */
  --brand-primary-midnight: #011b2b;
  --brand-primary-sky: #008fdc;
  --brand-secondary-stream: #97d0d8;
  --brand-secondary-clover: #58b276;
  --brand-support-stone: #9fa7ae;

  /* fonts */
  --body-font-family: Inter, sans-serif;
  --heading-font-family: Inter, sans-serif;

  /* body sizes */
  --body-text-size: 1rem;
  --footer-link-size: 0.75rem;
  --footer-text-size: 0.938rem;

  /* heading sizes */
  --heading-font-size-xxl: 6rem;
  --heading-font-size-xl: 3.35rem;
  --heading-font-size-l: 3rem;
  --heading-font-size-m: 2.5rem;
  --heading-font-size-s: 1.75rem;
  --heading-font-size-xs: 1rem;



  
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
/* @font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
} */

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-text-size: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-text-size);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--button-primary-background);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  display: inline-flex;
  padding: 0.875rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 2.5rem;
  background-color: var(--button-primary-background);
  color: var(--text-inverse);
  max-width: 100%;
}

/* {
  box-sizing: border-box;
  display: inline-block;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--button-hover-midnight);
  border: 2px solid var(--button-hover-sky);
  border-radius: 2.5rem;
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-primary);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 0px 0;
}

main > .section > div {
  max-width: 1680px;
  margin: auto;
  padding: 0 0;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 0px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}
